.div {
    background-color: white;
    color: black;
    width: 97.5%;
    min-width: 250px;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.b {
    font-size: 1.25rem;
}
.desc {
    margin: 0;
}
.button {
    position: relative;
    border-radius: 50px;
    border: 0;
    width: 35px;
    height: 100%;
    float: right;
}