.div {
    background-color: white;
    color: black;
    width: 97.5%;
    min-width: 250px;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.b {
    font-size: 1.25rem;
    /* overflow: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    display: block;
}
.desc {
    margin: 0;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
.button {
    position: relative;
    border-radius: 50px;
    border: 0;
    width: 35px;
    height: 100%;
    float: right;
}

@keyframes slideOut {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 650px;
    }
}