/* .section {
    width: 30%;
    right: 5%;
    float: right;
    border: 1px solid black;
    padding: 5px;
    position: fixed;
    margin-top: -50px;
    background-color: blue;
} */

.section {
    width: 30%;
    right: 5%;
    top: 25px;
    float: right;
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    background-color: blue;
    height: fit-content;
}