.button {
    border-radius: 30px;
    color: blue;
    background-color: white;
    width: 50%;
    height: 50px;
    margin-top: 10px;
    border: 0;
    font-size: 1.2rem;
    border: 1px solid white;
}
.button:hover {
    color: white;
    background-color: blue;
}
.button:active {
    color: blue;
    background-color: white;
}