.form {
    height: 30px;
    width: fit-content;
    margin: auto;
}
.input {
    height: inherit;
    width: 200px;
    box-sizing: border-box;
}
.button {
    border-radius: 0 50px 50px 0;
    height: inherit;
    border: 0;
    background-color: blue;
}