.section {
    width: 55%;
    margin-left: 5%;
    border: 1px solid black;
    padding: 5px;
}
.contain {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .section {
        float: none;
        position: static;
        margin: 5% auto;
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .contain {
        justify-content: center;
    }
}