.section {
    width: 55%;
    margin-left: 5%;
    border: 1px solid black;
    padding: 5px;
}
.contain {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}