.div {
    background-color: black;
    color: white;
    width: 47.5%;
    min-width: 250px;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
}
.b {
    font-size: 1.25rem;
}
.desc {
    margin: 0;
}